<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>jQuery UI Datepicker - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  $(function() {
    $( "#datepicker1" ).datepicker();
  });
  </script>
</head>
<body>
 <h2>Please select two Sundays for Start Date and End Date:</h2>
<form action="{% url 'getEmployees' %}}" method="get">
<p>Date Start: <input type="text" id="datepicker" name="start"></p>
<p>Date End: <input type="text" id="datepicker1" name="end"></p>
<input type="submit" value="Submit"  ></input>
 </form>
</body>
</html>
